@import 'tailwindcss';

@plugin "daisyui";

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-display: swap;
    src: url("JetBrainsMono-VariableFont_wght.ttf") format("ttf");
}

@theme {
    --font-jetbrains: "Jetbrains Mono", sans-serif;
}